<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>445510813150-hj3hih7pg1l6h1r1euufflpbr1u2qk5o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.445510813150-hj3hih7pg1l6h1r1euufflpbr1u2qk5o</string>
	<key>API_KEY</key>
	<string>AIzaSyBeSRHwYNc3PQkqmDZg1Xor3SAM7oBygaE</string>
	<key>GCM_SENDER_ID</key>
	<string>445510813150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.webkul</string>
	<key>PROJECT_ID</key>
	<string>notification-demo-2388a</string>
	<key>STORAGE_BUCKET</key>
	<string>notification-demo-2388a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445510813150:ios:b12a944ddb6ef4231e494f</string>
</dict>
</plist>